html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
  background-color: #333;
  letter-spacing: 1px;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.25em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type=range] {
  width: 100%;
}


a {
	color: #5DADE2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #BB8FCE;
}


button {
	background-color: gray;
	border: none;
	color: white;
	cursor: pointer;
	font-weight: bold;
	outline: none;
	padding: 0.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
	transition: 0.5s;
	border-radius: 5px;
}
button:hover {
	transform: scale(1.05);
}
button:active {
	transform: scale(0.95);
}


.fa-svelte {
  margin-top: 2px;
  margin-bottom: -2px;
}

.icon-button {
  cursor: pointer;
	transition: 0.5s;
  display: inline-block;
}
.icon-button:hover {
	transform: scale(1.2);
}
.icon-button:active {
	transform: scale(0.9);
}

text {
  fill: #fff;
}